.link {
  height: 100vh;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  justify-content: center;
}
img {
  width: 200px;
  /* margin-left: -14px; */
}
.mipriv-logo {
  /* content: url(../../../assets/icons/mipriv.svg); */
  width: 0.7em;
}
i {
  margin-right: 1em;
}
button {
  padding: 1.3em 3em;
  margin-top: 14px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  background-color: #c290e8;
  box-shadow: 0px 15px 20px rgba(161, 140, 209, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
button:hover .mipriv-logo {
  /* content: url(../../../assets/icons/mipriv-outline.svg); */
  width: 0.7em;
}
button:active {
  transform: translateY(-1px);
}

/* !card */
/* From uiverse.io by @alexruix */

.card {
  margin-top: 10vh;
  width: 25vw;
  height: 85vh;
  background: #e6b8b6;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.card-avatar {
  display: flex;
  width: 5em;
  height: 5em;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
}

.img-avatar {
  cursor: pointer;
  object-fit: fill;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/*Card buttons*/

.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*Text*/

.card-title {
  color: #333;
  font-size: 2.5em;
  font-weight: 600;
  font-family: dancing script;
  line-height: 2rem;
}

.card-subtitle {
  color: #7b21b7;
  font-size: 1em;
  font-family: Hind Vadodara;
}

/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-avatar:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .card {
    margin-top: 10vh;
    width: 75vw;
    height: 85vh;
    background: #e6b8b6;
    padding: 2rem 1.5rem;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }
}
@media (min-width: 479px) and (max-width: 900px) {
  .card {
    margin-top: 10vh;
    width: 71vw;
    height: 85vh;
    background: #e6b8b6;
    /* padding: 2rem 1.5rem; */
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }
  .card-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-subtitle {
    color: #7b21b7;
    margin-top: 10px;

    font-family: Hind Vadodara;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .card {
    margin-top: 10vh;
    width: 45vw;
    height: 85vh;
    background: #e6b8b6;
    /* padding: 2rem 1.5rem; */
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }
  .card-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-subtitle {
    color: #7b21b7;
    margin-top: 10px;

    font-family: Hind Vadodara;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .card {
    margin-top: 10vh;
    width: 40vw;
    height: 85vh;
    background: #e6b8b6;
    padding: 2rem 1.5rem;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }
  .card-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-subtitle {
    color: #7b21b7;
    margin-top: 10px;

    font-family: Hind Vadodara;
  }
}
@media (min-width: 1201px) {
  .card {
    margin-top: 10vh;
    width: 35vw;
    height: 85vh;
    background: #e6b8b6;
    padding: 2rem 1.5rem;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }
  .card-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .card-subtitle {
    color: #7b21b7;
    margin-top: 10px;

    font-family: Hind Vadodara;
  }
}
