<section class="link">
  <div class="card">
    <div class="card-info">
      <!-- <div class="card-avatar"> -->
      <!-- <img class="img-avatar" src="../../../assets/fotos/profile.jpeg" alt="TaniaTorresProfile"> -->
      <!-- </div> -->
      <div class="card-title text-center">
        <img class="logo-img" [src]="config.logoUrl" alt="logo">
      </div>
      <div class="card-subtitle text-center">
        <h3>{{ config.subtitle }}</h3>
        <p>{{ config.slogan }}</p>
      </div>
    
    <div class="card-buttons">
      <button (click)="goToSocialNetwork(config.instagramUrl)"><i
          class="fa fa-instagram"></i>Instagram</button>
      <button (click)="goToSocialNetwork(config.linkedinUrl)"><i
          class="fa fa-linkedin"></i>LinkedIn</button>
      <button (click)="goToSocialNetwork(config.whatsappUrl)"> <i class="fa fa-whatsapp"></i>
        WhatsApp</button>
      <button (click)="goToSocialNetwork(config.tiktokUrl)">
        <img class="tiktok-logo" src="assets/icons/tiktok-icon-light.svg" alt="TikTok">TikTok
      </button>
      <!-- <button> <img class="mipriv-logo" src="../../../assets/icons/mipriv3.svg" alt="mipriv"> Priv</button> -->
    </div>
  </div>
  </div>
</section>
