<section class="link">
  <div class="card">
    <div class="card-info">
      <div class="card-avatar">
        <img class="img-avatar" src="../../../assets/fotos/profile.jpeg" alt="TaniaTorresProfile">
      </div>
      <div class="card-title text-center">
        <p>Tania Torres <img src="../../../assets/icons/metatron.svg" alt="metatron"></p>

      </div>
      <div class="card-subtitle text-center">
        <p>Terapeuta en desarrollo del ser</p>
      </div>
    </div>
    <div class="card-buttons">
      <button role="button" href="https://www.instagram.com/coachtaniatorres/"><i
          class="fa fa-instagram"></i>Instagram</button>
      <button role="button" href="https://www.linkedin.com/in/tania-tatiana-torres-real-59082524a/"><i
          class="fa fa-linkedin"></i>LinkedIn</button>
      <button role="button" href="https://wa.me/573204600813"> <i class="fa fa-whatsapp"></i> WhatsApp</button>
      <!-- <button> <img class="mipriv-logo" src="../../../assets/icons/mipriv3.svg" alt="mipriv"> Priv</button> -->
    </div>
    <!-- <div class="footer">
      <h3>Actua ya</h3>
      <p>elige tú buen vivir</p>
    </div> -->
  </div>


</section>
