<section id="aboutMe" class="aboutMe">
  <div class="container">
    <div class="titulo font-dancing">
      <h1>FUNIDEF EXPRÉSATE</h1>
    </div>
    <div class="subtitulo font-alumi">
      Corporación Fundaciones Unidas para el Desarrollo Familiar.
    </div>
    <div class="parrafo font-alumi">
      <h4>Actúa hoy</h4>
      <h5>elige tu buen vivir.</h5>
    </div>
    <div class="botones font-alumi">
      <button class="boton">
        Mis Servicios
      </button>
      <button class="boton">
        Contactame
      </button>
    </div>
  </div>
</section>
<section id="services" class="services"></section>
<section id="events" class="events"></section>
<section id="contactMe" class="contactMe"></section>
<section id="plans" class="plans"></section>
